___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [157]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [158]:
# Check
lesser_of_two_evens(2,4)

2

In [159]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [160]:
test = 'El Perro'.split()
print(test[0][0])
print(test[1][0])

E
P

In [161]:
def animal_crackers(text):
    string_to_list = text.split()
    if string_to_list[0][0].lower() == string_to_list[1][0].lower(): # Assume it a two word argument always
        return True
    else:
        return False

In [162]:
# Check
animal_crackers('Levelheaded Llama')

True

In [163]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [164]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [165]:
# Check
makes_twenty(20,10)

True

In [166]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [167]:
dog =list('dog')
dog[0].upper()

'D'

In [168]:
def old_macdonald(name):
    name_capitalized = list(name) #cast into a list first
    name_capitalized[0] = name_capitalized[0].upper()
    name_capitalized[3] = name_capitalized[3].upper()
    #print(name_capitalized)
    name_capitalized = "".join(name_capitalized)
    return name_capitalized

In [169]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [170]:
lst = ['el','perro','es']
reverse_lst = lst[::-1]
print(reverse_lst)

['es', 'perro', 'el']

In [171]:
'el perro es'.split()

['el', 'perro', 'es']

In [172]:
def master_yoda(text):
    text_list = text.split()
    reversed_text_list = text_list[::-1] #slicing
    text_reversed = " ".join(reversed_text_list)
    return text_reversed

In [173]:
# Check
master_yoda('I am home')

'home am I'

In [174]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [175]:
def almost_there(n):
    if abs(n-100) <= 10 or abs(n-200) <= 10:
        return True
    else:
        return False

In [176]:
# Check
almost_there(104)

True

In [177]:
# Check
almost_there(150)

False

In [178]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [179]:
range(1,len([1,3,3]))

range(1, 3)

In [180]:
def has_33(nums): #nums is a list with integers
    target_number = 3
    for i in range(1,len(nums)-1): #comparing neighbor elements
        if nums[i-1] == nums[i] == target_number or nums[i] == nums[i+1] == target_number:
            return True
    return False

In [181]:
# Check
has_33([1, 3, 3])

True

In [182]:
# Check
has_33([1, 3, 1, 3])

False

In [183]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [184]:
#text = 'dos'
#print(text*3)
#print(text.split()*3)

In [185]:
text =  "dog"
text_triple = str() 
for char in text: # loop over the string!
    text_triple += char + char + char

In [186]:
print(text_triple)

dddoooggg

In [187]:
def paper_doll(text):
    text_triple = str() # empty string
    for char in text:
        text_triple += char + char + char #char concatenation
    return text_triple

In [188]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [189]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [190]:
11 in (3,4,11)

True

In [191]:
sum(1,1,1)

TypeError: sum expected at most 2 arguments, got 3

In [192]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21 and 11 in (a,b,c):
        return a+b+c - 10
    else:
        return 'BUST'

In [193]:
# Check
blackjack(5,6,7)

18

In [194]:
# Check
blackjack(9,9,9)

'BUST'

In [195]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [196]:
sum([])

0

In [197]:
  6 in list1

NameError: name 'list1' is not defined

In [198]:
#list1 = [4,5,6,7,8,9,5,1,5,6,3,9,4,1,2,8,6,3,9]
list1 = [4,5,6,7,8,9]
list2 = [1,2,6,7,9,1,2,6,7,9]

In [199]:
six_index = [i for i, x in enumerate(list1) if x == 6]
nine_index = [i for i, x in enumerate(list1) if x == 9]

In [200]:
print(six_index)
print(nine_index)

[2]
[5]

In [201]:
for i in range(len(six_index)):
    print(six_index)

[2]

In [202]:
newlist = []
for item in list1:
    if item == 6:
        newlist.append(item)

In [203]:
# Idea 2
# Print only the elements where no 6,9 interval exists
for i in range(len(list1)):
    for j in range(len(list1)):
        pass
        #print(list1[i],list1[j])
    #if list1[i] == 6:
        #for

In [204]:
list2

[1, 2, 6, 7, 9, 1, 2, 6, 7, 9]

In [205]:
add_element = 0
for i in range(len(list2)):
    if list2[i] == 6: # spot first six
        for j in range(i,len(list2)):
            if list2[j] == 9:
                continue
            else:
                print(list2[j])
    else:
        print(list2[i])
                
    #print(list2[j])
    #add_element += elem
    #print(elem)

1
2
6
7
1
2
6
7
7
9
1
2
6
7
7
9

In [206]:
def summer_69(arr):
    flag = True #proper use of flag!
    sum_ = 0
    for i in arr:
        if(flag == False):
            if(i == 9):
                flag = True #we reached upper limit
        elif(i == 6):
            flag = False
        else:
            sum_ += i         
    return sum_

In [207]:
# Check
summer_69([1, 3, 5])

9

In [208]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [209]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [210]:
spy_list = [1,7,2,0,4,5,0]

In [211]:

zero_index = [i for i, x in enumerate(spy_list) if x == 0] 
seven_index = [i for i, x in enumerate(spy_list) if x == 7]

In [212]:

print(zero_index)
print(seven_index)

[3, 6]
[1]

In [213]:
zero_seven_merged = zero_index + seven_index # this list has to monotonically increase so that 007 is in order

In [215]:
print(zero_seven_merged)

[3, 6, 1]

In [216]:
import numpy as np
np.all(np.diff(zero_seven_merged) > 0) #Determining if an array is monotonically increasing

False

In [218]:

def spy_game(spy_list):
    zero_index = [i for i, x in enumerate(spy_list) if x == 0] #find indices where zeros are within the array
    seven_index = [i for i, x in enumerate(spy_list) if x == 7] #the same for sevens within the array
    zero_seven_merged = zero_index + seven_index # this list has to monotonically increase so that 007 is in order
    
    return np.all(np.diff(zero_seven_merged) > 0) #Determining if an array is monotonically increasing: returns True or False

In [219]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [220]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [221]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [222]:
num = 30
numbers_list = list(range(0,num+1))

In [223]:
primes_list = []

In [224]:
from math import sqrt
from itertools import count, islice

def isPrime(n):
    if n < 2: # case 0 or 1
        return False

    for number in islice(count(2), int(sqrt(n) - 1)): # based on analysis from https://stackoverflow.com/questions/4114167/checking-if-a-number-is-a-prime-number-in-python
        if n % number == 0:
            return False

    return True

In [225]:
isPrime(97)

True

In [226]:
for number in numbers_list:
    if isPrime(number):
        primes_list.append(number

SyntaxError: unexpected EOF while parsing (<ipython-input-226-a82f3c1de7b1>, line 3)

In [227]:
print(primes_list)

[]

In [228]:
  def count_primes(num):
    numbers_list = list(range(0,num+1)) #Make a list of the numbers up to n
    primes_list = [] #List of primes
    
    for number in numbers_list: #Go over numbers_list and use isPrime function, if number is prime, append it to primes_list
        if isPrime(number):
            primes_list.append(number)
    
    return len(primes_list)

In [229]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [230]:
print_big('a')

NameError: name 'print_big' is not defined

## Great Job!